:root{
	--gris-clair: #f6f6f6;
	--gris-foncé:#eaeaea;
	--gris-footer:#353535;
	--violet:#9356DC;
	--rose:#FF79DA;
	--menthe:#99E2D0;
	--vert-nouveau:#008766;
}

body{
	width: 100%;
}

p{
	font-family: 'roboto';
}